#
# JEM configuration
#
menu "Java Virtual Machine (Jem)"

config JEM
	tristate "Kernel-based Java Virtual Machine (Jem) support"
	depends on EXPERIMENTAL
	---help---
	  Jem is a java virtual machine (JVM) that runs in the kernel. It
	  is intended for embedded java applications. You will also
	  need the java class files that come with the JEM JDK.

	  To compile this as a module, choose M here: the module
	  will be called kjvm.

	  If unsure, say N.

endmenu
