#
# KCFG configuration
#
menu "Simple Configuration Utility (KCFG)"

config KCFG
        tristate "Kernel-based configuration (kcfg) support"
        depends on EXPERIMENTAL
        ---help---
          Kcfg is a kernel module that reads a configuration file containing
	  name value pairs. The configuration values can then be queried
	  by other kernel modulues through an exported API.

          To compile this as a module, choose M here: the module
          will be called kcfg.

          If unsure, say N.

config KCFG_FILENAME
	string "Default filename to load."
	default "/etc/kcfg"
	depends on KCFG
	---help---
	  This variable sets the default filename that kcfg will load upon
	  startup. The default filename may be changed by the 'filename' module
	  parameter.

config KCFG_CLI
        bool "Include the config command line interface."
        default false
        depends on KCLI
	depends on KCFG
        ---help---
          This variable will compile in a command line interface that can
	  be used to query configuration values, load new files, etc. The
	  CLI depends on the KCLI kernel module.

endmenu
